@import '../../common/colors.scss';

.card-item {
  cursor: pointer;
  transition: transform 0.3s ease;
  min-height: 450px;
  height: 100%;
  margin: 7px;

  &:hover {
    transform: scale(1.1);
  }

  .card-inner {
    .card-top {
      img {
        width: 100%;
        max-width: 100%;
        height: 320px;
        object-fit: cover;
      }
    }

    .card-bottom {
      background-color: $secondary-color;
      padding: 10px;
      color: $font-primary;
      height: 90px;
      text-align: center;

      .card-info> {
        h4 {
          font-size: 15px;
          font-weight: 600;
        }

        p {
          color: $font-secondary;
        }
      }
    }
  }
}